{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Réinitialiser mon mot de passe
{% endblock %}

{% block body %}

	{# Page de réinitialisation de mot de passe #}

	<div class=" global-adhesion container-fluid">

		<div class="row">
			<div class="col">
				<h1>Réinitialisation de mot de passe</h1>
				
				{{ form_start(requestPassForm) }}
				<br>
				{{ form_row(requestPassForm.email) }}
				<br>
				<button type="submit" class="btn btn-primary">Envoyer</button>
				{{ form_end(requestPassForm) }}
			</div>
		</div>
	</div>


	{# Page de secours pour la demande de réinitialisation de mot de passe (sans lien via mail, uniquement le numéro de téléphone du président et le mail de l'association) #}

	
		{# <div class=" global-adhesion container-fluid">
	
			<div class="adhesion-fond-noir m-5 col-lg-5 col-md-12 col-sm-12 size">
				<div class="justify-content-center">
	
					<article id="texteAdhésion">
						<h1 class="text-accueil">Vous souhaitez réinitialiser votre mot de passe car vous l'avez oublié ?</h1>
						<div class="texte-adhesion">
							<p class=" text-center">Pas de problème, pour cela contacter :
								<strong>{{ president.prenom }}</strong>
							</p>
							<ul>
								<li class="list-unstyled text-center">- par téléphone :  au
									{{ president.telephone }}</li>
								<br>
								<li class="list-unstyled text-center">- ou par mail : vrnb2020@velorandonaturebruz.fr</li>
							</ul>
						</div>
					</article>
				</div>
			</div>
		</div> #}

{% endblock %}
