{% extends 'base.html.twig' %}

{% block title %}Gestion des actualites |{{ parent() }}{% endblock %}
{# La page Gestion des actualité #}
{% block body %}

    <div class="gestion-actualite-global ">

            {# Le titre#}
            <div class="title-actualite-gestion col-lg-12">
                <h1 class="">Gestion des Actualités</h1>
            </div>
            {# On boucle sur Actualite afin d'afficher toutes les actualités existante #}
            {% for actualite in actualites %}

                <div class="actualite-gestion col-lg-12">
                        <p>{{ actualite.actu }}</p>
                    {% if(actualite.getUrl != null) %}
                    <a href="{{ actualite.url }}" target="_blank">{{ actualite.url }}</a>
                    {% endif %}

                    {# Les boutons Modifier et Supprimer #}
                    <div class=" button-supprimer-modifier-actualite">
                        <a class="button-decoration-referent btn btn-success" href="{{ path('actuedit', {'id':actualite.id}) }}">Modifier</a>
                        <a class="espace-button-referent btn btn-secondary button-decoration-referent" href="{{ path('actudelete', {'id':actualite.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette actualité ?')">Supprimer</a>
                    </div>

                </div>
            {% endfor %}
    </div>

{% endblock %}