{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Administration{% endblock %}
{# cette page affiche la page d'admin, le backoffice #}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}{

    {# le style initial css de bootstrap #}
    <style>
        .example-wrapper {
            text-align: center;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    {# la banniere #}
    <div class="container-fluid">
        <img src="{{ asset ('/content/ban page menu footer.jpg') }}" class="img-fluid" width="100%">
    </div>

    {# le titre et les boutons de selections#}
    <div class="container-fluid">
        <div class="example-wrapper bg-warning">
            <h1>Administration</h1>
        </div>
        <div class="row justify-content-center">
            <div class=" m-5 d-flex justify-content-center bg-light border">
                <a href="{{ path('user_index') }}" class="btn btn-lg btn-success ">Gestion des adhérents</a>
            </div>

            <div class=" m-5 d-flex justify-content-center bg-light border ">
                <a href="{{ path('activite_index') }}" class="btn btn-lg btn-success">Gestion des activités</a>
            </div>
            <div class=" m-5 d-flex justify-content-center bg-light border">
                <a href="{{ path('recap') }}" class="btn btn-lg btn-info ">Gestion des récapitulatifs</a>
            </div>
            <div class="dropdown m-5 d-flex justify-content-center bg-light border text-center">
                <a class="btn btn-lg btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mise à jour des pdfs d'administration
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('pdfstatus') }}">Status</a>
                    <a class="dropdown-item" href="{{ path('chartestatus') }}">Charte</a>
                    <a class="dropdown-item" href="{{ path('pdfmentionslegales') }}">Mentions légales</a>
                </div>
            </div>


        </div>

    </div>
{% else %}
    {% endif %}

{% endblock %}
