{% extends 'base.html.twig' %}
{# La page Liste des Partenaires #}
{% block body %}
    <div class="container-fluid row page__container">
        <div class="title__partenaire container-fluid row">

            {# Le titre #}
            <h1 class="title col-12">Liste des partenaires</h1>
            <div class="center-hr col-12">
                <hr class="hr25-pourcent">
            </div>
        </div>
        <div class="main__partenaire container-fluid row">

            {# On boucle sur partenaire #}
            {% for partenaire in partenaires %}
                <div class="tabel__partenaire col-lg-4">
                    <div class="contenue__partenaire">

                        {# On affiche le Logo cliquable #}
                        <div class="img__partenaire">
                            <a href="{{ partenaire.url }}">
                                <img class="col-lg-12" src="{{ asset("logos/"~ partenaire.logo) }}"
                                     alt="logo des partenanires de Velo Rando Nature Bruz">
                            </a>
                        </div>

                        {# On affiche le nom du partenaire qui est également Cliquable #}
                        <div class="action__partenaire col-12">
                            <a class="nom__partarenaire col-lg-12" href="{{ partenaire.url }}">{{ partenaire.nom }}</a>
                        </div>
                        {# On affiche le bouton Modifier et Supprimer #}
                        <a href="{{ path('partenaire_update', {"id":partenaire.id}) }}" class="btn btn-success btn-sm">Modifier</a>
                        <a href="{{ path('partenaire_delete', {"id":partenaire.id}) }}"
                           class="button-espace-delete-partenaire btn btn-secondary btn-sm"
                           onclick="return confirm('Voulez-vous vraiment supprimer ce partenaire ?')">Supprimer</a>
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>

{% endblock %}