{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Formations{% endblock %}

{# La page formations #}

{% block body %}

    {# Le titre #}
    <div class="container container-profil col-12">
        {% if photoIntro is not empty %}
            <figure class="textcenter">
                <img src="{{ asset('photo-intro/'~ photoIntro) }}"
                     alt="Formations">
                <figcaption class="fig">Formations</figcaption>
            </figure>

        {% else %}
            <h1 class="titreEnTete">Formations</h1>
        {% endif %}
    </div>
        <div class="col-lg-12">
            {% if is_granted("ROLE_ADMIN") %}
                <div class="boutonModifierTexte">
                    <button class="button_show btn btn-outline-success">Modifier la photo</button>
                </div>
                <div class="form-group formulaire" id="form">
                    {{ form(formPhotoIntro) }}
                    <div class="mt-3 mb-5 text-center">
                        <p>{{ form_widget(formPhotoIntro.Enregistrer) }}</p>
                        <button class="button_close btn btn-outline-secondary">Annuler</button>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="center-hr">
        <hr class="hr25-pourcent center">
    </div>

    {# Le corps de la page #}

    <div class="container-fluid">
        <div class="row">
            {% for texte in textes %}

                {# texte sous le titre #}
                <div class="presentation-activite col-12">
                    <p>{{ texte.FormationTextIntro | nl2br }}</p>
                </div>
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="boutonModifierTexte">
                        <button class="button_show btn btn-outline-success">Modifier le texte</button>
                    </div>
                    <div class="form-group formulaire" id="form">
                        {{ form(formIntro) }}
                        <div class="mt-3 mb-5 text-center">
                            <p>{{ form_widget(formIntro.Enregistrer) }}</p>
                            <button class="button_close btn btn-outline-secondary">Annuler</button>
                        </div>
                    </div>
                {% endif %}

                {# Premier encadré #}
                <div class="activite-box col-11">
                    <div class="activite border border-dark row col-12">
                        <a class="btn-activite btn btn-success col-lg-2 col-sm-12 "
                           href="{{ path('activite_index') }}">
                            <h3>  {{ texte.mecaniqueTitle | nl2br }}</h3>
                        </a>
                        <div class="text-activite col-lg-8 col-xs-12 ">
                            <p>
                                {{ texte.mecaniqueText | nl2br }}
                            </p>
                        </div>
                        <div class="image-box col-lg-2 col-xs-12">
                            <img class="image-activite" src="{{ asset('photo-activite/' ~  photoMecanique) }}"
                                 alt="mécanique">
                        </div>
                        {# Modification du texte et photo #}
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="boutonModifierTexte">
                                <button class="button_show btn btn-outline-success">Modifier le titre, le texte et/ou la photo
                                </button>
                            </div>
                            <div class="form-group formulaire" id="form">
                                {{ form(formMecanique) }}
                                <div class="mt-3 mb-5 text-center">
                                    <p>{{ form_widget(formMecanique.Enregistrer) }}</p>
                                    <button class="button_close btn btn-outline-secondary">Annuler</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {# Deuxième encadré #}
                <div class="activite-box col-11">
                    <div class="activite border border-dark row col-12">
                        <a class="btn-activite btn btn-success col-lg-2 col-sm-12"
                           href="{{ path('activite_index') }}">
                            <h3>{{ texte.securiteTitle | nl2br }}</h3>
                        </a>
                        <div class="text-activite col-lg-8 col-sm-12 ">
                            <p>
                                {{ texte.securiteText | nl2br }}
                            </p>
                        </div>
                        <div class="image-box col-lg-2 col-sm-12">
                            <img class="image-activite" src="{{ asset('photo-activite/' ~  photoSecurite) }}" alt="Sécurité à vélo">
                        </div>
                        {# Modification du texte et photo #}
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="boutonModifierTexte">
                                <button class="button_show btn btn-outline-success">Modifier le titre, le texte et/ou la photo
                                </button>
                            </div>
                            <div class="form-group formulaire" id="form">
                                {{ form(formSecurite) }}
                                <div class="mt-3 mb-5 text-center">
                                    <p>{{ form_widget(formSecurite.Enregistrer) }}</p>
                                    <button class="button_close btn btn-outline-secondary">Annuler</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {# Troisième encadré #}
                <div class="activite-box col-11">
                    <div class="activite border border-dark row col-12">
                        <a class="btn-activite col-lg-2 col-sm-12  btn btn-success "
                           href="{{ path('activite_index') }}">
                            <h3> {{ texte.secourismeTitle | nl2br }}</h3>
                        </a>
                        <div class="text-activite col-lg-8 col-sm-12"><br>
                            <p>
                                {{ texte.secourismeText | nl2br }}
                            </p>
                        </div>
                        <div class="image-box col-lg-2 col-sm-12">
                            <img class="image-activite" src="{{ asset('photo-activite/' ~  photoSecourisme) }}" alt="Secourisme">
                        </div>
                        {# Modification du texte et photo #}
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="boutonModifierTexte">
                                <button class="button_show btn btn-outline-success">Modifier le titre, le texte et/ou la photo
                                </button>
                            </div>
                            <div class="form-group formulaire" id="form">
                                {{ form(formSecourisme) }}
                                <div class="mt-3 mb-5 text-center">
                                    <p>{{ form_widget(formSecourisme.Enregistrer) }}</p>
                                    <button class="button_close btn btn-outline-secondary">Annuler</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {# Quatrième encadré #}
                <div class="activite-box col-11">
                    <div class="activite border border-dark row col-12">
                        <a class="btn-activite btn btn-success col-lg-2 col-12" href="{{ path('activite_index') }}">
                            <h3> {{ texte.photoVideoTitle | nl2br }}</h3>
                        </a>
                        <div class="text-activite col-lg-8 col-12">
                            <p>
                                {{ texte.photoVideoText | nl2br }}
                            </p>
                        </div>
                        <div class="image-box col-lg-2 col-sm-12">
                            <img class="image-activite" src="{{ asset('photo-activite/' ~  photoPhotoVideo) }}"
                                 alt="Photos et Vidéos">
                        </div>
                        {# Modification du texte et photo #}
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="boutonModifierTexte">
                                <button class="button_show btn btn-outline-success">Modifier le titre, le texte et/ou la photo
                                </button>
                            </div>
                            <div class="form-group formulaire" id="form">
                                {{ form(formPhotosVideos) }}
                                <div class="mt-3 mb-5 text-center">
                                    <p>{{ form_widget(formPhotosVideos.Enregistrer) }}</p>
                                    <button class="button_close btn btn-outline-secondary">Annuler</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}