{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid page_box">
        <div class="container recap_box">
            <div class="recap_show_header">
                <div class="activite_categorie col-12">
                    <p>{{ activite.categoriesFormation }}</p>
                </div>
                <div class="activite_title col-12">
                    <p>{{ activite.nom }}</p>
                </div>
                <div class="activite_infosActivite">
                    <p>{{ activite.getInfosActivite }}</p>
                </div>
                <div class="activite_date_user">
                    <div class="activite_date">
                        <img src="{{ asset('tools/calendrier.png') }}" alt="icone de calendrier">
                        <p>{{ activite.getDateActivite()| date('j F Y h:i') }}</p>
                    </div>
                    <div class="activite_user">
                        <img src="{{ asset('tools/user.png') }}" alt="icone d'utilisateur">
                        <p>{{ activite.organisateur.getNom() }}</p>
                        <p>{{ activite.organisateur.getPrenom() }}</p>
                    </div>
                </div>
                <div class="information_activite_finie">
                    <div class="information_album_gauche col-lg-4 col-sm-12">
                        <p>Durée : {{ activite.duree }} minute(s)</p>
                        <p>Ville : {{ activite.lieu.getNomVille() }}</p>
                        <p>Adresse : {{ activite.lieu.getNomRue() }}</p>
                    </div>
                    <div class="information_album_centre col-lg-4 col-sm-12">
                        <p>Dénivelé : {{ activite.denivele }} mètre(s)</p>
                        <p>Distance : {{ activite.distance }} kilomètre(s)</p>
                    </div>
                    <div class="information_album_droite col-lg-4 col-sm-12">
                        <p>Difficulté :</p>
                        {% if (activite.getDifficulte() == 0 or activite.getDifficulte() == '') %}
                        {% else %}
                            {% if ( activite.difficulte == 1) %}
                                <img src="{{ asset("tools/difficulte1.png") }}" alt="icone difficulté niveau un">
                            {% elseif ( activite.difficulte == 2) %}
                                <img src="{{ asset("tools/difficult2.png") }}" alt="icone difficulté niveau deux">
                            {% else %}
                                <img src="{{ asset("tools/difficult3.png") }}" alt="icone difficulté niveau trois">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <div class="album_photo_url">
                            {% for photo in activite.albumPhoto %}
                                {% if photo.url is not empty %}
                                    <a href="{{ photo.url }}">Komoot</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="list_participant">
                    <div class="list_participant_title">
                        Liste des participants
                    </div>

                    <div class="inscrit_box col-12">
                        {% for user in activite.users %}
                            {% if user.prenom is not empty and user.nom is not empty %}
                                <div class="participant col-8">
                                    <p>{{ user.prenom }}</p>
                                    <p>{{ user.nom }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="pdf">
                    <div class="recap_pdf">
                        <p>Parcours de l'activité</p>
                    </div>
                    <div>
                        {% if is_granted(["ROLE_ADMIN"]) %}
                            <div class="ajout_pdf">
                                <a class="block_lien" href="{{ path('create_pdf', {'id':activite.id}) }}">
                                    <img class="logo_create_pdf" src="{{ asset('tools/plus.png') }}"
                                         alt="logo signe plus ajouter vert">
                                    <p> Ajouter un pdf</p>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="pdf_activite">
                          {% for pdf in activite.docPdfs %}
                            {% if pdf.nompdf is not empty or pdf.nompdf != null %}
                                <embed src="{{ asset('recap/'~ pdf.nompdf) }}" type='application/pdf'/>
                                {% if is_granted(["ROLE_ADMIN"]) %}
                                    <a href="{{ path('delete_pdf', {'id':pdf.id}) }}">supprimer</a>
                                {% endif %}
                            {% else %}
                                <p>Aucun adhérent n'est inscrit à cette activité</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="url">
                    <div class="recap_url">
                        <p>Liens albums photos supplémentaires</p>
                    </div>
                    <div>
                        {% if is_granted(["ROLE_ADMIN"]) %}
                            <div class="ajout_urls">
                                {{ form_start(form) }}
                                <label> Première Url Album Photos :</label>
                                <p>{{ form_widget((form.urlAlbumPhoto)) }}</p>
                                <label> Deuxième Url Album Photos :</label>
                                <p>{{ form_widget((form.urlAlbumPhotoDeux)) }}</p>
                                <p class="button">{{ form_widget(form.Enregistrer) }}</p>
                                {{ form_end(form) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="affichage-url">
                        {# S'il y a des urls pour d'autres albums #}

                        <div>
                            {% if(activite.getUrlAlbumPhoto != null) %}
                                <a href="{{ activite.urlAlbumPhoto }}" target="_blank">{{ activite.urlAlbumPhoto }}</a>
                            {% endif %}
                        </div>
                        <div>
                            {% if(activite.getUrlAlbumPhotoDeux != null) %}
                                <a href="{{ activite.urlAlbumPhotoDeux }}"
                                   target="_blank">{{ activite.urlAlbumPhotoDeux }}</a>
                            {% endif %}
                        </div>
                        <div>
                            {% if(activite.getPdf != null) %}
                                <a href="{{ asset('pdf-activite/'~ photoPdf) }}" target="_blank">PDF de l'activité</a>
                            {% endif %}
                        </div>

                    </div>

                </div>

                <div class="action_box">
                    {% if is_granted(["ROLE_ADMIN"]) %}
                        <a href="{{ path('activite_edit', {'id':activite.id}) }}">modifier</a>
                        <a href="{{ path('delete_activite', {'id':activite.id}) }}"
                           onclick="return confirm('Voulez-vous vraiment supprimer cette activité?')">supprimer</a>
                    {% endif %}
                    <a href="{{ path('album') }}">retour</a>
                </div>
            </div>
        </div>
        <div class="container  album_box">
            <div class="album">
                <div class="album_title">
                    <p>Album Photo</p>
                </div>
                <div>
                    {% if is_granted(["ROLE_ADMIN"]) %}
                        <div class="ajout_photo">
                            <a class="block_lien" href="{{ path('create_album', {'id':activite.id}) }}">
                                <img class="logo_create_photo" src="{{ asset('tools/plus.png') }}"
                                     alt="logo sign plus ajouter vert">
                                <p> Ajouter une photo</p>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="album_photos">
                    {% for photo in activite.albumPhoto %}
                        {% if photo.image is not empty or photo.image != null %}
                            <img class="photos_activite col-lg-12" src="{{ asset('album-photo/'~ photo.image) }}"
                                 alt="Oups un soucis est survenu">
                            {% if is_granted(["ROLE_ADMIN"]) %}
                                <a href="{{ path('delete_album', {'id':photo.id}) }}">supprimer</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}