{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}
{# la page contact #}
{% block body %}

    <div class="container">
        <div class="form_contact col-10">
            <div class="title_contact col-12">
                <h1>Nous contacter</h1>
            </div>
            <div class="centre_form_contact col-12">
                {# on importe les champs du formulaire #}

                {{ form_start(contactForm) }}
                <p> Nom : {{ form_widget(contactForm.nom) }}</p>
                <p> Mail : {{ form_widget(contactForm.email) }}</p>
                <p> Message : {{ form_widget(contactForm.message) }}</p>
            </div>
            <div class="bas_form_contact col-12">
                <div class="bas_form_contact1">
                    <p>{{ form_widget(contactForm.envoyer) }}</p>
                    {{ form_end(contactForm) }}
                </div>
                <div class="bas_form_contact2">
                    <a class="btn btn-secondary  butonRetour" href="{{ path('home1') }}">Retour</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
