<h1>Votre adhesion à Velo Rando Nature Bruz est validée</h1>

<p>Nom : {{ adherent.nom }}</p>
<p>Prenom : {{ adherent.prenom }}</p>
<p>Telephone : {{ adherent.telephone }}</p>
<p>Date de naissance : {{user.dateNaissance ? user.dateNaissance |date('d-m-Y') : '' }}
<p>Email : {{ user.email }}</p>
<p>pseudo : {{ user.username }}</p>
<p> mot de passe : {{ password }}</p>
<p>Vous pouvez désormais vous connecter avec le Pseudo et le mot de passe indique sur ce mail</p>
<p>Nous vous recommandons de le changer en allant sur 'votre profil' dans le menu du site</p>
