{% extends 'base.html.twig' %}

{% block title %}Trombinoscope | {{ parent() }}{% endblock %}

{# La page Trombinoscope #}
{% block body %}

    {# Si l'Utilisateur est Adhérent #}
    {% if is_granted("ROLE_USER") %}

        {# Le titre #}
        <div class="container container-profil">
            {% if photoIntro is not empty %}
                <figure class="textcenter">
                    <img src="{{ asset('photo-intro/'~ photoIntro) }}"
                         alt="Trombinoscope">
                    <figcaption class="fig">Trombinoscope</figcaption>
                </figure>
            {% else %}
                <h1 class="titreEnTete">Trombinoscope</h1>
            {% endif %}
        </div>
        <div class="col-lg-12">
            {% if is_granted("ROLE_ADMIN") %}
                <div class="boutonModifierTexte">
                    <button class="button_show btn btn-outline-success">Modifier la photo</button>
                </div>
                <div class="form-group formulaire" id="form">
                    {{ form(formPhotoIntro) }}
                    <div class="mt-3 mb-5 text-center">
                        <p>{{ form_widget(formPhotoIntro.Enregistrer) }}</p>
                        <button class="button_close btn btn-outline-secondary">Annuler</button>
                    </div>
                </div>
            {% endif %}
        </div>


        <div class="center-hr">
            <hr class="hr25-pourcent center">
        </div>
        <div class="container trombi_page">
            <div class="trombi_box">
                {# On boucle sur les utilisateurs #}
                {% for user in users %}

                    {# Partie Président #}
                    <div class="trombi_order1">

                        {# Si l'Utilisateur est Président il s'affiche ici #}
                        {% if user.referents.getNom() == 'Président' %}
                            <div class=" jaune col-lg-4">

                                {# Le Nom du Référent #}
                                <div class="tromb_user">
                                    <p class="trombi_referent">{{ user.referents.getNom() }}</p>

                                    {# Le pseudo du Référent #}
                                    <div class="trombi_infos">
                                        <a href="{{ path('user_show',{ 'id': user.id}) }}"
                                           class="btn btn-warning btn-sm trombi-username col-12">{{ user.nom }} {{ user.prenom }}</a>

                                        {# On boucle sur Photo #}
                                        {% for photo in user.photos %}

                                            {# Si la photo de l'utilisateur est null on affiche un logo par défaut #}
                                            {% if user.photos is not empty %}
                                                <img src="{{ asset ('photo-profil/'~ photo.name) }}"
                                                     alt="photo de l'utilisateur">

                                                {# Sinon on affiche son image #}
                                            {% else %}
                                                <img src="{{ asset('tools/logo_profil.png') }}" alt="logo de profil">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                {# Partie Secrétaire et Trésorier #}
                <div class="trombi_order2">

                    {# On boucle sur User #}
                    {% for user in users %}

                        {# Si le Nom du Référent est Secrétaire ou Trésorier alors il s'affiche ici #}
                        {% if user.referents.getNom() == 'Secrétaire' or user.referents.getNom() == 'Trésorier' %}
                            <div class="jaune col-lg-3 ">

                                {# Le Nom du Référent #}
                                <div class="tromb_user">
                                    <p class="trombi_referent">{{ user.referents.getNom() }}</p>

                                    {# Le pseudo du Référent #}
                                    <div class="trombi_infos">
                                        <a href="{{ path('user_show',{ 'id': user.id}) }}"
                                           class="btn btn-warning btn-sm trombi-username col-12">{{ user.nom }} {{ user.prenom }}</a>

                                        {# On boucle sur Photo #}
                                        {% for photo in user.photos %}

                                            {# Si la photo n'ai pas vide on affiche la photo de l'Utilisateur #}
                                            {% if user.photos is not empty %}
                                                <img src="{{ asset ('photo-profil/'~ photo.name) }}"
                                                     alt="photo de l'utilisateur">
                                                {# Sinon on affiche le logo par défaut #}
                                            {% else %}
                                                <img src="{{ asset('tools/logo_profil.png') }}" alt="logo de profil">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                {# Partie autres Référent #}
                <div class="trombi_order3">

                    {# On boucle sur User #}
                    {% for user in users %}

                        {# Si le Nom de l'Utilisateur est différent de Président,Secrétaire,Trésorier et Adhérent alors il s'affiche ici #}
                        {% if user.referents.getNom() != 'Président' and user.referents.getNom() != 'Secrétaire'
                            and user.referents.getNom() != 'Trésorier' and user.referents.getNom() != 'Adhérent'
                            and user.referents.getNom() != 'Site web' %}
                            <div class="jaune col-3">

                                {# Le nom du Référent #}
                                <div class="tromb_user">
                                    <p class="trombi_referent">{{ user.referents.getNom() }}</p>

                                    {# Le pseudo du Référent #}
                                    <div class="trombi_infos">
                                        <a href="{{ path('user_show',{ 'id': user.id}) }}"
                                           class="btn btn-warning btn-sm trombi-username col-12">{{ user.nom }} {{ user.prenom }}</a>

                                        {# On boucle sur Photo #}
                                        {% for photo in user.photos %}

                                            {# Si la photo n'ai pas vide alors on affiche la photo de l'utilisateur #}
                                            {% if user.photos is not empty %}
                                                <img src="{{ asset ('photo-profil/'~ photo.name) }}"
                                                     alt="photo de l'utilisateur">

                                                {# Sinon on affiche le logo par Défaut #}
                                            {% else %}
                                                <img src="{{ asset('tools/logo_profil.png') }}" alt="logo de profil">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                {# Partie Site Web #}
                <div class="trombi_order3">

                    {# On boucle sur User #}
                    {% for user in users %}
                        {% if user.referents.getNom() == 'Site web' %}
                            <div class="jaune col-3">

                                {# Le nom du Référent #}
                                <div class="tromb_user">
                                    <p class="trombi_referent">{{ user.referents.getNom() }}</p>

                                    {# Le pseudo du Référent #}
                                    <div class="trombi_infos">
                                        <a href="{{ path('user_show',{ 'id': user.id}) }}"
                                           class="btn btn-warning btn-sm trombi-username col-12">{{ user.nom }} {{ user.prenom }}</a>

                                        {# On boucle sur Photo #}
                                        {% for photo in user.photos %}

                                            {# Si la photo n'ai pas vide alors on affiche la photo de l'utilisateur #}
                                            {% if user.photos is not empty %}
                                                <img src="{{ asset ('photo-profil/'~ photo.name) }}"
                                                     alt="photo de l'utilisateur">

                                                {# Sinon on affiche le logo par Défaut #}
                                            {% else %}
                                                <img src="{{ asset('tools/logo_profil.png') }}" alt="logo de profil">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                {# Partie Adhérent #}
                <div class="trombi_order4">
                    {% for user in users %}
                        {% if user.referents.getNom() == 'Adhérent' %}
                            <div class="jaune col-4">

                                {# Le nom du Référent #}
                                <div class="tromb_user">
                                    <p class="trombi_referent">{{ user.referents.getNom() }}</p>

                                    {# Le pseudo du Référent #}
                                    <div class="trombi_infos">
                                        <a href="{{ path('user_show',{ 'id': user.id}) }}"
                                           class="btn btn-warning btn-sm trombi-username col-12">{{ user.nom }} {{ user.prenom }}</a>

                                        {# On boucle sur Photo #}
                                        {% for photo in user.photos %}

                                            {# Si la photo n'ai pas vide alors on affiche la photo de l'utilisateur #}
                                            {% if user.photos is not empty %}
                                                <img src="{{ asset ('photo-profil/'~ photo.name) }}"
                                                     alt="photo de l'utilisateur">

                                                {# Sinon on affiche le logo par Défaut #}
                                            {% else %}
                                                <img src="{{ asset('tools/logo_profil.png') }}" alt="logo de profil">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row text-center">
            <h2 class="text-danger">Vous n'avez pas les droits pour accéder à cette page</h2>
        </div>
    {% endif %}
{% endblock %}
