{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | voir recap{% endblock %}
{# twig d'affichage de la page detail activite #}
{% block body %}
    {# le style css bootstrap par defaut #}
    <style>
        .example-wrapper {
            text-align: center;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    {% if is_granted("ROLE_USER") %}


    {# la banniere et le titre #}
    <div class="container-fluid">
        <img src="{{ asset ('/content/ban page menu footer.jpg') }}" class="img-fluid" width="100%">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="example-wrapper"><br>
                <H1 class="font-weight-bold">Détail de l'activité</H1>
                <hr>
                <p><img src="{{ asset('/content/logo velo.png') }}"></p>
                <hr>
            </div>
        </div>
    </div>

    {# le corps de la page #}
    <div class="bg-light border">

        {# on fait un tableau pour présenter les champs issus de la bdd #}
        <table class="table d-flex justify-content-center">
            <tbody>
            <tr>
                <th>Activité</th>
                <td>{{ activite.nom }}</td>
            </tr>
            <tr>
                <th>Date de l'activité</th>
                <td>le {{ activite.dateActivite ? activite.dateActivite|date('d-m-Y') : '' }} à
                    {{ activite.dateActivite ? activite.dateActivite|date('h-i ') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ activite.duree }} mn</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ activite.distance }} km</td>
            </tr>
            <tr>
                <th>Les infos sur l'activité</th>
                <td>{{ activite.infosActivite }}</td>
            </tr>
            <tr>
                <th>Dénivelé</th>
                <td>{{ activite.denivele }} m</td>
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ activite.difficulte }}/3</td>
            </tr>
            <tr>
                <th>Lieu de rassemblement</th>
                <td>{{ activite.lieu.nomRue }} à {{ activite.lieu.nomVille }} </td>
            </tr>
            <tr>
                <th>Organisateur</th>
                <td>{{ activite.organisateur.prenom }} {{ activite.organisateur.nom }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ activite.etat.libelle }}</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="example-wrapper">
        {% for pdf in activite.docPdfs %}

            {#    <button class="btn btn-primary m-3" >Afficher le pdf</button>#}

            <div>
                <embed class="embed-responsive" src="{{ asset('/recap/'~ pdf.nompdf) }}" width=800 height=1000
                       type='application/pdf'/>
            </div>
        {% endfor %}
    </div>
    {# pour compter le nombre d'inscrits à l'activité et leurs noms #}
    <div class="container pt-5 mt-3">
        <div class=" text-center ">
            <div class="row col-4">
                <p class="lead">il y a {{ activite.users.count }} inscrits a cette activité</p>

                <ol class=" table table-dark justify-content-center table-sm ">
                    {% for user in activite.users %}

                        <li>{{ user.prenom }} {{ user.nom }}</li>


                    {% endfor %}

                </ol>

            </div>
        </div>
    </div>
    <div class="m-3 text-center">
        <a href="{{ path('recap') }}" class="btn btn-outline-primary btn btn-lg">Retour à la liste</a>

    </div>
    {% else %}
        <div class="row text-center">
        <h2 class="text-danger">Vous  n'avez pas les droits pour accéder à cette page</h2>
        </div>
    {% endif %}
{% endblock %}
