{# Création d'une navbar en haut de la page #}
<nav
	class="navbar d-flex flex-nowrap navbar-expand-lg navbar-light navbar-custom ">

	{# pour le responsive on créé le menu burger qui s'affichera sur petit écran #}

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTexto" aria-controls="navbarTexto" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="{{path('home1')}}">
		<img class="logoVRNB" src="{{asset('logos/logo_entier.png')}}" alt="logo Velo Rando Nature Bruz ">
	</a>

	{# on déclare les éléments qui seront dans la navbar #}
	<div class="collapse navbar-collapse navbar-taille" id="navbarTexto">
		<ul
			class="navbar-nav">

			{# Partie Accueil #}
			<li class="nav-item active ">
				<a class="nav-link" href="{{path('home1')}}">Accueil</a>
			</li>

			{# éléments a menu déroulant #}

			{# Partie Association #}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Association
				</a>

				{# éléments dans le menu déroulant #}
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{path('presentation')}}">Présentation</a>
					<a class="dropdown-item" href="{{path('organisation')}}">Organisation</a>
				</div>
			</li>

			{# Partie Documentation #}
			{% if is_granted('ROLE_USER') %}
				<li class="nav-item active ">
					<a class="nav-link" href="{{path('documentation')}}">Documentation</a>
				</li>
			{% endif %}

			{# éléments a menu déroulant #}

			{# Partie Activite #}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Activités
				</a>

				{# éléments dans le menu déroulant #}
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{path('randosvelo')}}">Randonnées à vélo</a>
					<a class="dropdown-item" href="{{path('formations')}}">Formations
					</a>
					<a class="dropdown-item" href="{{path('projections')}}">Projections de films
					</a>
					<a class="dropdown-item" href="{{path('ecocitoyennete')}}">Ecocitoyenneté
					</a>

					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{path('pleinair')}}">Autres activités de plein-air
					</a>
				</div>
			</li>

			{# Si l'Utilisateur est Adhérent on affiche pas Adhesion #}
			{% if is_granted('ROLE_USER') %}

				{# Sinon on affiche Adhesion#}
			{% else %}

				{# Partie Adhesion #}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('adhesion') }}">Adhésion</a>
				</li>
			{% endif %}

			{# Partie Programme #}
			<li class="nav-item">
				<a class="nav-link" href="{{path('activite_index')}}">Programme</a>
			</li>

			{# Si l'Utilisateur est Adhérent alors il peut voir Album Photo #}
			{% if is_granted(["ROLE_USER"]) %}

				{# Partie Nos Balades #}
				<li class="nav-item">
					<a class="nav-link text-nowrap" href="{{ path('album') }}">Nos balades</a>
				</li>
			{% endif %}
			{# éléments a menu déroulant #}

			{# Si l'Utilisateur est Adhérent alors il peut voir Espace Adhérent #}
			{% if is_granted ("ROLE_USER")%}

				{# Partie Espace Adhérent #}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Espace adhérent
					</a>

					{# éléments dans le menu déroulant #}

					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{path('trombi') }}">Trombinoscope</a>
					</div>
				</li>
				{%else%}
			{% endif %}


			<li
				class="nav-item">

				{# Si l'Utilisateur est en session on affiche le lien vers son Profil #}
				{% if app.user %}

					{# Partie Profil #}
					<a class="nav-link" href="{{ path('user_show', { 'id': app.user.id}) }}">Profil</a>
					{% else %}

				{% endif %}
			</li>

			{# Si l'Utilisateur est Administrateur alors le bouton Admin est visible #}
			{% if is_granted ("ROLE_ADMIN")%}

				{# éléments a menu déroulant #}
				{# Partie Admin #}
					<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Admin
					</a>

					{# éléments dans le menu déroulant #}
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('actu_new') }}">Créer une actualite</a>
						<a class="dropdown-item" href="{{ path('activite_new') }}">Créer une activité</a>
						<a class="dropdown-item" href="{{ path('createRef') }}">Créer un référent</a>
						<a class="dropdown-item" href="{{ path('user_new') }}">Créer un adhérent</a>
						<a class="dropdown-item" href="{{ path('createP') }}">Créer un partenaire</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path('actualite') }}">Gestion des actualites</a>
						<a class="dropdown-item" href="{{path('app_organigramme')}}">Gestion de l'organigramme</a>
						<a class="dropdown-item" href="{{path('user_index')}}">Gestion des adhérents</a>
						<a class="dropdown-item" href="{{ path('referent') }}">Gestion des référents</a>
						<a class="dropdown-item" href="{{path('activite_index')}}">Gestion des activités</a>
						<a class="dropdown-item" href="{{path('partenaire')}}">Gestion des partenaires</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{path('chartestatus')}}">Modifier le PDF de la charte</a>
						<a class="dropdown-item" href="{{path('pdfstatus')}}">Modifier le PDF des statuts</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{path('statistiques')}}">Statistiques</a>
					</div>
				</li>
				{% else %}
			{% endif %}

			{# Si l'Utilisateur est en session alors on affiche le bouton Déconnexion #}
			{% if is_granted ('IS_AUTHENTICATED_REMEMBERED')%}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
				</li>
				{# Sinon on affiche le bouton Connexion #}
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
				</li>
			{% endif %}

		</ul>
	</div>
</nav>
