{% extends 'base.html.twig' %}

{% block title %}Modifier Profil  | {{ parent() }}{% endblock %}
{# page de modification du profil #}

{% block body %}

    {% if is_granted("ROLE_USER") %}
        <div class="global-profiledit row col-lg-12 col-sm-10">
        <div class="row col-lg-6 col-sm-10 profil-form-fond-noir border border-dark">
        <div class="col-lg-12 title-modifier-profil">
            <h1>Mon profil</h1>
        </div>

        {# pour voir si l'utilisateur est bien le meme que le profil qu'il regarde #}
        {% if user.username == user %}
            <div class="row position-photo-profiledit col-lg-8 col-sm-8">

                {# on boucle sur les photos pour l'afficher #}
                {% for photo in user.photos %}
                    <div class="divPhotoSecond divPhoto">
                        <div class="centre_form_contact">
                            <div class="affichage-photo-profiledit">
                                <img src="{{ asset ('photo-profil/'~ photo.name) }}" class="col-lg-8"
                                     alt="photo de profil">
                            </div>
                        </div>
                        <div class="divPhoto">
                            <div class="centre_form_contact">
                                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                                <a href="{{ url('user_delete_photo', {id: photo.id}) }}" data-delete
                                   data-token="{{ csrf_token('DELETE' ~ photo.id ) }}"
                                   class="btn btn-light centre_form_contact ">Supprimer
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


            {# on appelle le formulaire user #}


            <div class="row div-ext-modifier-profil col-lg-12">
                <div class="col-lg-6 div-int-modifier-profil">
                    {{ form_start(form) }}
                    <p>Pseudo : {{ form_widget(form.username) }}</p>
                    {# Si l'Utilisateur est Administrateur alors il peut voir le roles et le referents #}
                    {% if is_granted("ROLE_ADMIN") %}
                        <p>Role : {{ form_widget(form.roles) }}</p>
                        <p>Référent : {{ form_widget(form.referents) }}</p>

                        {# Sinon on lui cache #}
                    {% else %}
                        <p hidden>{{ form_widget(form.roles) }}</p>
                        <p hidden>{{ form_widget(form.referents) }}</p>
                    {% endif %}
                    <p>Prénom : {{ form_widget(form.prenom) }}</p>
                    <p>Nom : {{ form_widget(form.nom) }}</p>
                    <p>Mail : {{ form_widget(form.email) }}</p>
                    <p>Téléphone : {{ form_widget(form.telephone) }}</p>
                    <p>Mot de Passe : {{ form_widget(form.password) }}</p>
                    <p>Date de Naissance : {{ form_widget(form.date_naissance) }}</p>
                    <p>Photo de profil :{{ form_widget(form.photos) }}</p>
                    <div class="row col-lg-6 col-sm-10 col-lg-12 profil-form-fond-noir border border-dark">
                        <center>J'ai pris connaissance des droits à l'image,
                            de la charte ainsi que des statuts de l'association: <input type="checkbox" required>
                        </center>
                        <div class="row">
                            <div class="row d-flex justify-content-center m-1">
                                <a class="m-3 btn btn-primary btn-lg text-white"
                                   href="{{ asset('documents/Statuts_asso_Rando nature Bruz.pdf') }}" target="_blank">Statuts
                                    de l'association</a>


                                <a class="m-3 btn btn-primary btn-lg text-white"
                                   href="{{ asset('documents/Charte_asso_Rando nature Bruz.pdf') }}" target="_blank">Charte
                                    de l'association</a>
                            </div>
                        </div>
                    </div>
                    {# Les Boutons Enregistrer et Retour #}
                    <div class="margin_button col-12row d-flex justify-content-center">
                        <div class="col-6">
                            <p>{{ form_widget(form.enregistrer) }}</p>
                        </div>
                        <div class="col-6">
                            <a href="{{ path('user_show', { 'id': app.user.id}) }}"
                               class="btn btn-outline-secondary btn">Retour</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}
            <div class="row d-flex justify-content-center m-3">
                <a href="{{ path('home1') }}" class=" btn btn-lg btn-danger "> vous n'avez pas les droits pour modifier
                    le
                    mot de passe</a>
            </div>
        {% endif %}
    {% else %}
        </div>
        </div>
    {% endif %}


{% endblock %}

        {# on appelle la fonction javascript dans le dossier js de public #}
        {% block javascripts %}
            <script src="{{ asset('js/images.js') }}"></script>
        {% endblock %}

