{% extends 'base.html.twig' %}

{% block title %}Détails utilisateur  | {{ parent() }}{% endblock %}
{# La page d'affichage des détails d'un utilisateur #}
{% block body %}

    {# Le titre #}
    <div class="container container-profil col-12">
        {% if photoIntro is not empty %}
            <figure class="textcenter">
                <img src="{{ asset('photo-intro/'~ photoIntro) }}"
                     alt="Profil utilisateur">
                <figcaption class="fig">Mon Profil</figcaption>
            </figure>
        {% else %}
            <h1 class="titreEnTete">Mon Profil</h1>
        {% endif %}
    </div>
        <div class="col-lg-12">
            {% if is_granted("ROLE_ADMIN") %}
                <div class="boutonModifierTexte">
                    <button class="button_show btn btn-outline-success">Modifier la photo</button>
                </div>
                <div class="form-group formulaire" id="form">
                    {{ form(formPhotoIntro) }}
                    <div class="mt-3 mb-5 text-center">
                        <p>{{ form_widget(formPhotoIntro.Enregistrer) }}</p>
                        <button class="button_close btn btn-outline-secondary">Annuler</button>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="center-hr">
        <hr class="hr25-pourcent center">
    </div>

    <div class="row justify-content-center global-div-img-profil">
        <div class="position-photo-show col-sm-5">

            {# On boucle sur Photo #}
            {% for photo in user.photos %}

                {# on affiche l'image de profil de l'Utilisateur #}
                <img src="{{ asset ('photo-profil/'~ photo.name) }}" class="img-fluid affichage-photo-show"
                     alt="Photo profil utilisateur">
            {% endfor %}
        </div>
        <div class=" col-lg-12 col-sm-12">
        </div>
        <br>
        <div class="row col-lg-6 col-sm-10 profil-form-fond-noir border border-dark">

            <div class="row justify-content-center global-div-img-profil"> Vos informations :
                <div class="center-hr">
                    <hr class="hr25-pourcent center">
                </div>
                {# on affiche les caracteristiques issues de la bdd #}
                <table class="affichage-profil table table-borderless d-flex">
                    <tbody>
                    <tr>
                        <th>Pseudo :</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Role :</th>
                        <td> {% if (user.roles|json_encode) =='["ROLE_USER"]' %}
                                Adhérent
                            {% elseif (user.roles|json_encode) =='["ROLE_ADMIN","ROLE_USER"]' %} Administrateur
                            {% else %}
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>Nom :</th>
                        <td>{{ user.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prénom :</th>
                        <td>{{ user.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone :</th>
                        <td>{{ user.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Email :</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Date de Naissance :</th>
                        <td>{{ user.dateNaissance ? user.dateNaissance|date('d-m-Y') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-3 mb-5 text-center">

                {# si l'utilisateur est bien celui a qui appartien le profil #}
                {% if user.username == user1 %}

                    <a href="{{ path('profiledit',{ 'id': app.user.id}) }}"
                       class="btn btn-success btn btn-lg">Modifier</a>
                    <a href="{{ path('home1') }}" class="btn btn-outline-secondary btn btn-lg">Retour</a>

                {% elseif userrole == ["ROLE_ADMIN","ROLE_USER"] %}
                    <a href="{{ path('user_index') }}" class="btn btn-outline-primary btn btn-lg">Retour à la liste</a>
                {% else %}
                    <a href="{{ path('home1') }}" class="btn btn-outline-primary btn btn-lg">Retour à l'accueil</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}